.pdf {
  width: 500px;
  height: 500px;
  display: table;
  margin: 0 auto;
  padding: 20px 50px;
  color: black;
}

@media (max-width: 600px) {
  .pl10 {
    padding-left: 8% !important;
  }
}

@media (min-width: 768px) {
  .mt8 {
    margin-top: 8%;
  }
}

@media (max-width: 544px) {
  .t-header {
    font-size: 30px !important;
    margin-top: 12px !important;
    margin-left: 14px !important;
  }
}

.t-header {
  font-style: oblique;
}

@media (min-width: 992px) {
  .App-header .row.mb-4 {
    margin-left: -3%;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
